body {
    background-color: #282c34;
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    font-size: 15px;
}

.container {
    width: 100%;
    flex: auto;
    margin: auto;
}

#story, #userInput {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace !important;
    font-weight: bolder;
    background-color: black;
    width: 480px;
}

#story {
    height: 240px;
}
