<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}">
  </script>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💬</text></svg>">
</head>
<body>
  <div class="container">
    <div>
      <label for="story">The Narrator</label>
    </div>
    <div>
      <div id="story">
        &nbsp;
      </div>
      <br />
    </div>
    <div>
      <label for="userInput" style="min-width: 20em">You</label>
    </div>
    <div>
      <input type="text" id="userInput" />
    </div>
  </div>
</body>
</html>